{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Car index</h1>
        <div class="row">
            {% if form %}
                <div class="col-sm-3">
                    {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
                        {{ form_row(form.q) }}
                        <h4>Catégories</h4>
                        {{ form_row(form.categories) }}
                        <button class="btn btn-primary btn-sm">Rechercher</button>
                    {{ form_end(form) }}
                </div>
            {% endif %}
            <div class="col-lg-9">
                {% for car in cars %}
                    <div class="card">
                        <div class="card-header">
                            {{ car.cost }} €
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ car.name }}</h5>
                            <a href="{{ path('app_car_edit', {id : car.id}) }}" class="card-link">Modifier</a>
                            <a href="{{ path('app_car_delete', {id : car.id}) }}" class="card-link">Supprimer</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(cars) }}
                </div>
                <a href="{{ path('app_car_new') }}">Create new</a>
            </div>
        </div>
    </div>


{% endblock %}
